
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let acoes = (site.data.acoes !== undefined) ? site.data.acoes : defaultData('acoes');
%>

<!-- Portfolio -->
<div id="acoes">
<div data-auto-height="true">
  <div class="container content-lg">
      <div class="row">
          <div class="col-sm-3 sm-margin-b-30">
              <div class="text-right sm-text-left">
                  <h2 class="margin-b-0"><%= acoes.title %></h2>
                  <p><%- acoes.subtitle %></p>
              </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            <p><%- acoes.description %></p>
            <%- partial('masonry_grid') %>
            <h3>Calendário</h3>
                <p><%- acoes.calendario %></p>
          </div>
      </div>
      <!--// end row -->
  </div>
</div>
</div>

<!-- Portfolio -->
