
<%
// adds default data usign "theme/aircv/scripts/default-data.js" helper
let acoes = (site.data.acoes !== undefined) ? site.data.acoes : defaultData('acoes');
%>

<!-- Masonry Grid -->
<div class="masonry-grid row row-space-2">

  <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>

  <% acoes.items.forEach(item => { %>
  
<a href="<%= item.href %>">
    <div class="masonry-grid-item <%= item.grid_class %>">
      <div class="work">
          <div class="work-overlay">
              <img class="full-width img-responsive" src="<%= item.image %>" alt="Evento">
              <div class="work-overlay-label">
                <p> <%= item.title %></p>
              </div>
          </div>
      </div>
  	</div>
</a>

  <% }); %>
  
  </div>

<!-- End Masonry Grid -->
