<!DOCTYPE html>

<html lang="en" id="body">

	<%- partial('_partial/head/index') %>

  <body>
		<%- partial('_partial/header/index') %>

		<%- body %>

		<%- partial('_partial/footer/index') %>
		<%- partial('_partial/footer/scripts') %>
		<%#- partial('_partial/scripts/google_analytics') %>

  </body>
</html>
