<section id="page">
  <div class="container content content-width">
    <h1 class="post-title"> <%= page.title %></h1>
        <%- page.content %>
    
		<% if (page.photos && page.photos.length) { %>

		<div class="article-gallery">
    		<% page.photos.forEach(function(photo, i) { %>
    			<a class="gallery-item gallery" data-featherlight="image" href="<%- url_for(photo) %>" rel="gallery_<%= page._id %>">
        			<img src="<%- url_for(photo) %>" itemprop="image" />
    			</a>
		    <% }) %>
		</div>
		<% } %>
		<p class="voltar"><a href="/">Voltar</a></p>
  </div>
</section>

