<section id="post">
  <div class="container content content-width">
    <h1 class="post-title"> <%= page.title %></h1>
    <p class="date"> <%= page.date %> </p>
    <%- page.content %>
  </div>
</section>
