<%# Styles %>
<!-- GLOBAL MANDATORY STYLES -->
<link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/vendor/animate.css/animate.css" rel="stylesheet">

<%# custom CSS %>
<%- css('sass/layout') %>
<%- css('fl.css') %>
<%- css('jg.css') %>
